@charset "utf-8";
/* CSS Document */

html{
  font-size:20px;
  overflow-x: hidden;
  color:#666;
}

body {
    font-family: "微软雅黑";
}

a {
  text-decoration: none;
}

a, button, input, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input,textarea,button{
  outline:none;
}

ul, li, ol {
  list-style: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  /*-webkit-user-select: none;*/
  /*user-select: none;*/
}

a, button, input, textarea {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /*-webkit-touch-callout:none;*/
  /*-webkit-user-select:none;*/
  /*-khtml-user-select:none;*/
  /*-moz-user-select:none;*/
  /*-ms-user-select:none;*/
  /*user-select:none;*/
  /*设置内嵌的元素在 3D 空间如何呈现：保留 3D*/
  /*-webkit-transform-style: preserve-3d;*/
  /*（设置进行转换的元素的背面在面对用户时是否可见：隐藏）*/
  -webkit-backface-visibility: hidden;
}

.nothing-layout{
  /*pointer-events:none;*/
}

.clearfix:before,
.clearfix:after{
  content: '';
  display: block;
  /*overflow: hidden;*/
  /*visibility: hidden;*/
  width: 0;
  height: 0;
}

.clearfix:after{
  clear: both
}

.clearfix {
  *zoom: 1
}


.c_green {
  color: #1AB99B;
}
.c_red{
  color:#F46867;
}
.c_yellow{
  color:#FF9900;
}
.c_gray{
  color:#999;
}

.normal-flex{
  display:flex;
  align-items:center;
}
.grid-2 , .grid-3{
  padding:0.75rem 0;
  background:#fff;
  font-size: 0.9rem;
}
.grid-2 > div{
  width:50%;
  text-align:center;
  line-height:1.5rem;
  color:#999;
}
.grid-2 > div:first-child{
  border-right:1px solid #D4D4DA;
}

.grid-2 .cur{
  color:#00B77C;
}
.grid-3{
  border-top:1px solid #E6E6EB;
}
.grid-3 > div{
  width:33.33%;
  text-align:center;
  line-height:1.3rem;
  border-right:1px solid #CECED1;
  color:#888;
  display:flex;
  align-items:center;
  justify-content:center;
}
.grid-3 > div:last-child{
  border:none;
}
.grid-3 > div .icon{
  width:1rem;
  margin-left:0.5rem;
}


.all {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 auto;
  /*overflow:hidden;*/
  background: #eee;
  top:0;
  overflow-x: hidden;
}

.content{

}

.con-box{
  border-radius: 0.3rem;
  position:relative;
  background:#fff;
  padding:0.7rem 1rem;
  margin-bottom:0.7rem;
}

.normal-list{
  width:100%;
}
.normal-list .item{
  width:100%;
  margin:0.7rem 0;
  background:#fff;
  padding:0.8rem;
}
.item .item-bar{
  width:100%;
  padding:0.2rem 0;
  position: relative;
}

.download-layout{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:#999;
  opacity:0;
  transition:opacity 0.3s;
}
.download-layout.cur{
  opacity:0.5;
}

.item-bar .head-icon{
  width:3rem;
  height:3rem;
  overflow:hidden;
  border-radius:50%;
  background:#eee;
  float:left;
}
.item-bar .head-con{
  /*width:100%;*/
  margin-left:3.5rem;
}
.item-bar .head-con > h4{
  font-weight:normal;
  width:100%;
  display:flex;
  justify-content:space-between;
}
.head-con > p{
  font-size:0.8rem;
  padding-top:0.4rem;
}
.head-con .group{
  font-size:0.8rem;
  color:#999;
  max-width: 6rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow:ellipsis;
}
.head-con .status{
  font-size:0.9rem;
}
.head-con .item-time{
  font-size:0.75rem;
  color:#999;
  display:flex;
  justify-content:space-between;
}

.item .item-info{
  color:#333;
  white-space: normal;
  word-wrap: break-word;
}

.head-icon img{
  width:100%;
  display:block;
}

#textSearch span{
  max-width:4rem;
  display:block;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.download{
  padding:0.5rem;
  background:#EFEFF3;
  display:flex;
  align-items:center;
  transition:background 0.3s
}
.download.cur{
  background:#d7d7d7;
}

.download .img-box{
  width:2.2rem;
}
.download .img-box img{
  padding-left:0.5rem;
  width:100%;
  display:block;
}
.download .info-box{
  padding-left:1rem;
}
.download .info-box p{
  font-size:0.8rem;
  line-height:0.9rem;
  white-space:normal;
  word-break: break-all;
}
.download .info-box span{
  font-size:0.7rem;
  line-height:0.8rem;
  color:#888;
}

.blackBg-layout{
  position:fixed;
  width:100%;
  height:100%;
  background:url('../img/bg.png') repeat;
  z-index: 105;
}

.selectbar{
  width:100%;
  background:#fff;
}
.selectbar li{
  width:100%;
  line-height:2rem;
  border-top:1px solid #eee;
  text-indent:1rem;
}

.searchBar{
  width:100%;
  padding:0.7rem 1rem;
  background:#EFEFF3;
  position:relative;
}
.searchBar input{
  background:#fff;
  width:100%;
  line-height:2.5rem;
  border-radius:2rem;
  border:none;
  padding:0 1.5rem;
}
.searchBar img{
  position:absolute;
  width:1.5rem;
  right:2rem;
  top:1.25rem;
}

.page-tit{
  font-size:1.5rem;
  color:#333;
  line-height: 2rem;
  white-space: normal;
  word-wrap: break-word;
}

.handler-list{
  display: flex;
  flex-wrap: wrap;
}
.handler{
  display:flex;
  align-items:center;
  margin: 0 1.2rem 0.5rem 0;
}
.handler .img-box{
  border-radius:50%;
  width:2rem;
  height:2rem;
  overflow:hidden;
  display:block;
}
.handler .img-box img{
  width:100%;
}
.handler span{
  margin-left:0.3rem;
  color:#888;
}

.status-list{
  padding:0 0 1rem 0;
}
.status-list h4{
  font-weight:normal;
}
.status-list .item .icon{
  width:1rem;
  display:block;
}
.status-list .item{
  display:flex;
  /*align-items:center;*/
  margin:1rem 0 2rem 0;
  font-size:0.95rem;
}



/*[data-select]{*/
  /*background:#000;*/
/*}*/
/*.item[data-select] .icon-box img{*/
  /*display:none;*/
/*}*/
/*.item[data-select] .icon-box img.selectShow{*/
  /*display:block;*/
/*}*/

.status-list .item .icon-box{

}
.status-list .item .con{
  padding-left:1rem;
  width: 100%;
}
.status-list .item .con .msg{
  background:#EFEFF3;
  padding:0.5rem;
  border-radius:0.2rem;
  position:relative;
  margin-top:1rem;
  color:#666;
}

.status-list .item .con .msg .arrow-up {
  width:0;
  height:0;
  border-left:8px solid transparent;
  border-right:8px solid transparent;
  border-bottom:8px solid #EFEFF3;
  position:absolute;
  top:-8px
}

.status-list .item .con p{
  line-height:1rem;
}
.status-list .item .con p span{
  float:right;
  font-size:0.75rem;
}


.fbtn-box{
  position:fixed;
  width:100%;
  padding:0.4rem 1rem;
  bottom:0;
  z-index:2;
  display:flex;
  justify-content:space-between;
  background: #fff;
  /*left:0;*/
  box-shadow: 0 10px 20px #999;
}
.fbtn-box > .fbtn , .fbtn-box2 .fbtn{
  width:100%;
  margin:0 auto;
  background:#fff;
  text-align:center;
  line-height:2.5rem;
  border-radius:0.3rem;
  color:#222;
}
.fbtn-box > .fbtn{
  letter-spacing:0.5rem;
}
.fbtn-box2{
  width:100%;
  display:flex;
  justify-content:space-between;
}
.fbtn-box2 .fbtn{
  width:48%;
  margin:0;
  display:flex;
  justify-content:center;
  align-items:center;
}
.fbtn-box2 .fbtn span{
  margin:0 0.2rem;
  line-height:1.2rem;
  padding:0.7rem 0;
}
.fbtn-box2 .fbtn span img{
  width:1.2rem;
  display:block;
}

.prompt{position:fixed;width:100%;height:100%;display:flex;flex-direction: row;align-items:center;justify-content:center;}
.prompt p{position: relative;top: -2rem;font-size:0.8rem;color: #888;}
